@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@500;700&family=Open+Sans:ital@1&family=Poppins&family=Roboto:wght@700&family=Tiro+Devanagari+Marathi:ital@1&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

button {
  font-family: "Inter", sans-serif;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 7px 12px;
}

ul li {
  list-style-type: none;
}

.buttons li {
  font-family: "Inter", sans-serif;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 7px 12px;
}

:root {
  --bg-color: #1c1a19;
  --nav-bg-color: #3c3a39;
  --primary-color: #fff;
  --secondary-color: #ff6b00;
  --font-size: normal;
}

/* NAV SECTION */

a {
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  height: 4rem;
  padding: 1em 2em;
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hamburger-menu {
  border: none;
  flex-direction: column;
  gap: 4px;
  height: 20px;
  width: 20px;
}

.hamburger-menu .ham {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.767);
  width: 15px;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* MAIN SECTION */

.headline {
  background: var(--bg-color);
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 1rem;
  padding: 1.5em 2em;
  position: relative;
  overflow: hidden;
}

.illustration-icon {
  background: url("images/illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  position: absolute;
  right: -62%;
  bottom: -4%;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-style: var(--font-size);
  font-weight: 400;
  font-size: 56px;
  font-family: "Crete Round", sans-serif;
  color: var(--secondary-color);
}

.supporting-text {
  width: 327px;
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-size: 24.5px;
  line-height: 32px;
  color: #fff5e1;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.headline p {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-style: var(--font-size);
  font-weight: 400;
  line-height: 24px;
  color: var(--primary-color);
}

.button-icons {
  margin-top: 1rem;
  gap: 1rem;
}

.centered-content {
  align-items: center;
}

.subtitle {
  font-family: "Crete Round", sans-serif;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.subtitle h2 {
  font-size: 40px;
  line-height: 52px;
  width: 327px;
  height: 83px;
  margin: 120px 24px 104px 24px;
  position: relative;
}

.subtitle h2::after {
  content: "";
  width: 100%;
  border: 1px solid #212121;
  position: absolute;
  bottom: 0;
  left: 0;
}

.work-section {
  color: black;
  width: 100%;
}

.cards {
  place-items: center;
  width: 100%;
}

.card-con {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 327px;
}

.card-con img {
  width: 100%;
  height: 240px;
}

.card-content {
  width: 100%;
}

.card-content p {
  margin-block: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.card-content h3 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
}

.buttons {
  gap: 1rem;
  align-items: center;
}

.special {
  background-color: var(--secondary-color);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-block: 24px;
  outline: none;
  border: none;
}

.work-section-2 {
  al
}

.about-me {
  background-color: var(--bg-color);
  padding: 1em;
  position: relative;
}

.about-me-content {
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.about-me-content h2 {
  margin: 120px 24px 24px 24px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: var(--secondary-color);
}

.about-me-content p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 24px;
  width: 327px;
  height: 148px;
}

.about-me .special {
  width: 161px;
  height: 48px;
  align-self: flex-start;
  margin-bottom: 245px;
}

.illustration {
  position: absolute;
  background-image: url("images/bottomillusstration.png");
  background-repeat: no-repeat;
  background-size: contain;
  right: -7rem;
  width: 300px;
  height: 300px;
  bottom: 70%;
}

.portfolio {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-block: 132px;
}

.skill-caption {
  align-items: center;
  gap: 1rem;
}

.skill-caption h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-block: 44px;
}

.info li {
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.rotate-square {
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
  transform: rotate(45deg);
}

.n-square {
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
}

.circle {
  width: 18px;
  height: 18px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

/* Footer Section */
footer {
  background-color: var(--primary-color);
  width: 100%;
  font-family: "Inter", sans-serif;
}

.footer-text {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.footer-title {
  width: 327px;
  height: 216px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  color: #172b4d;
  text-align: center;
}

.form-item {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #dbd8d7;
  font-size: 15px;
  line-height: 24.1px;
  font-weight: 400;
  font-style: normal;
  color: #3c3a39;
  padding: 12px;
}

input:hover {
  outline: 0;
  border: solid 2px rgb(7, 181, 224);
}

textarea {
  width: 327px;
  height: 114px;
  border: none;
  background-color: #fbf8f7;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #3c3a39;
  padding: 12px;
}

textarea:hover {
  border: solid 2px rgb(7, 181, 224);
}

.form-hr {
  color: #dbd8d7;
  position: absolute;
  width: 327px;
}

.footer-hr {
  margin-top: 124px;
}

.form-btn {
  padding: 12px;
  margin-top: 24px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.form-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.form-btn:visited {
  background-color: #e05304;
  color: #f4f1f0;
}

.form-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.bottom-nav {
  flex-direction: column;
  justify-content: center;
}

.footer-icons {
  display: block;
  margin: 0 auto 10px;
}


/* Desktop View */
@media (min-width: 768px) {
  .lg-flex-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .lg-grid-row {
    display: flex;
    gap: 2rem;
    align-items: ;
    
  }
  
  

}