html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1c1a19;
  --nav-bg-color: #3c3a39;
  --primary-color: #fff;
  --secondary-color: #ff6b00;
  --font-size: normal;
}

/* NAV SECTION */

a {
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  height: 4rem;
  padding: 1em 2em;
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.flex {
  display: flex;
}

.hamburger-menu {
  width: 16px;
  height: 14px;
  top: 17px;
  margin-right: 10px;
  display: block;
  border: none;
  background: linear-gradient (
    to bottom,
    #acb7c3,
    #acb7c3 20%,
    #3c3a39 20%,
    #3c3a39 40%,
    #acb7c3 40%,
    #acb7c3 60%,
    #3c3a39 60%,
    #3c3a39 80%,
    #acb7c3 80%,
    #acb7c3 100%
  );
}

.hamburger-menu .nav-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  box-sizing: border-box;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* MAIN SECTION */

.headline {
  background: var(--bg-color);
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 1rem;
  padding: 1.5em 2em;
  position: relative;
  overflow: hidden;
}

.illustration-icon {
  background: url("images/illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  position: absolute;
  right: -62%;
  bottom: -4%;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-style: var(--font-size);
  font-weight: 400;
  font-size: 56px;
  font-family: "Crete Round", sans-serif;
  color: var(--secondary-color);
}

.supporting-text {
  width: 327px;
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.headline p {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-style: var(--font-size);
  font-weight: 400;
  line-height: 24px;
  color: var(--primary-color);
}

.button-icons {
  margin-top: 1rem;
  gap: 1rem;
}

.centered-content {
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1c1a19;
  --nav-bg-color: #3c3a39;
  --primary-color: #fff;
  --secondary-color: #ff6b00;
  --font-size: normal;
}

/* NAV SECTION */

a {
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  height: 4rem;
  padding: 1em 2em;
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.flex {
  display: flex;
}

.hamburger-menu {
  width: 16px;
  height: 14px;
  top: 17px;
  margin-right: 10px;
  display: block;
  border: none;
  background: linear-gradient (
    to bottom,
    #acb7c3,
    #acb7c3 20%,
    #3c3a39 20%,
    #3c3a39 40%,
    #acb7c3 40%,
    #acb7c3 60%,
    #3c3a39 60%,
    #3c3a39 80%,
    #acb7c3 80%,
    #acb7c3 100%
  );
}

.hamburger-menu .nav-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  box-sizing: border-box;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* MAIN SECTION */

.headline {
  background: var(--bg-color);
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 1rem;
  padding: 1.5em 2em;
  position: relative;
  overflow: hidden;
}

.illustration-icon {
  background: url("images/illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  position: absolute;
  right: -62%;
  bottom: -4%;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-style: var(--font-size);
  font-weight: 400;
  font-size: 56px;
  font-family: "Crete Round", sans-serif;
  color: var(--secondary-color);
}

.supporting-text {
  width: 327px;
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.headline p {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-style: var(--font-size);
  font-weight: 400;
  line-height: 24px;
  color: var(--primary-color);
}

.button-icons {
  margin-top: 1rem;
  gap: 1rem;
}

.centered-content {
  align-items: center;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1c1a19;
  --nav-bg-color: #3c3a39;
  --primary-color: #fff;
  --secondary-color: #ff6b00;
  --font-size: normal;
}

/* NAV SECTION */

a {
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  height: 4rem;
  padding: 1em 2em;
  background-color: var(--nav-bg-color);
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.flex {
  display: flex;
}

.hamburger-menu {
  width: 16px;
  height: 14px;
  top: 17px;
  margin-right: 10px;
  display: block;
  border: none;
  background: linear-gradient (
    to bottom,
    #acb7c3,
    #acb7c3 20%,
    #3c3a39 20%,
    #3c3a39 40%,
    #acb7c3 40%,
    #acb7c3 60%,
    #3c3a39 60%,
    #3c3a39 80%,
    #acb7c3 80%,
    #acb7c3 100%
  );
}

.hamburger-menu .nav-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  box-sizing: border-box;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
}

/* MAIN SECTION */

.headline {
  background: var(--bg-color);
  width: 100%;
  height: 100vh;
  align-items: center;
  gap: 1rem;
  padding: 1.5em 2em;
  position: relative;
  overflow: hidden;
}

.illustration-icon {
  background: url("images/illustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  position: absolute;
  right: -62%;
  bottom: -4%;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-style: var(--font-size);
  font-weight: 400;
  font-size: 56px;
  font-family: "Crete Round", sans-serif;
  color: var(--secondary-color);
}

.supporting-text {
  width: 327px;
  font-family: "Roboto", sans-serif;
  font-style: var(--font-size);
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}

.headline p {
  width: 327px;
  font-family: "Poppins", sans-serif;
  font-style: var(--font-size);
  font-weight: 400;
  line-height: 24px;
  color: var(--primary-color);
}

.button-icons {
  margin-top: 1rem;
  gap: 1rem;
}

.centered-content {
  align-items: center;
}
